:root {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  font-synthesis: none;
}

body {
  background-color: $background;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
